@charset "UTF-8";

:root {
    --primary-color: #4a4a4a; /* Cinza Claro */
    --secondary-color: #00bfae; /* Verde Água */
    --background-color: #1e1e1e; /* Cinza Escuro */
    --text-color: #e0e0e0; /* Cinza Claro */
    --card-background: #2c2c2c; /* Cinza Escuro para Cartões */
    --card-title-color: #ffffff; /* Branco */
    --card-shadow: rgba(0, 0, 0, 0.15); /* Sombra dos cartões */
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: var(--text-color);
    background: url('../src/imagens/bg.avif') no-repeat center center fixed;
    background-size: cover;
}

header {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

header img {
    height: 40px;
}

.menu-icon {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--secondary-color);
    transition: color 0.4s;
}

.menu-icon:hover {
    color: var(--primary-color);
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

nav a {
    color: var(--secondary-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background 0.3s, color 0.3s;
}

nav a:hover,
nav a:focus {
    background: var(--card-background);
    color: var(--card-title-color);
}

.bem-vindo {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 2rem;
    text-align: center;
    margin: 0;
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bem-vindo p {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    text-align: justify;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Auto-adaptação com mínimo de 250px por coluna */
    gap: 2rem; /* Espaçamento entre os cartões */
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px; /* Limite máximo para o conteúdo */
    align-items: start;
}

.card {
    background: var(--card-background);
    color: var(--text-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--card-shadow);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 1rem;
}

.card img {
    width: 100%;
    height: 200px; /* Altura fixa para a imagem */
    object-fit: cover;
}

.card h2 {
    background: var(--primary-color);
    color: var(--card-title-color);
    margin: 0;
    padding: 1rem;
    font-size: 1.5rem;
}

.card p {
    padding: 1rem;
    text-align: justify;
    background-color: var(--card-background);
    color: var(--text-color);
    flex: 1; /* Faz o parágrafo ocupar o espaço restante */
}

footer {
    text-align: center;
    padding: 1rem;
    background: var(--background-color);
    color: var(--text-color);
    position: relative;
    bottom: 0;
}

#mit {
    color: var(--secondary-color);
    transition: color 0.3s;
}

#mit:hover {
    color: #00a89e;
}

@media screen and (max-width: 1024px) {
    header {
        grid-template-columns: auto 1fr;
    }

    .menu-icon {
        display: block;
    }
/* 
    nav {
        display: none;
    } */

    .nav-links.active {
        display: flex;
        flex-direction: column;
        background: var(--background-color);
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .nav-links.active a {
        padding: 1rem;
        color: var(--secondary-color);
    }

    .nav-links a {
        padding: 1rem;
        border-bottom: 1px solid var(--card-background);
    }

    .nav-links a:last-child {
        border-bottom: none;
    }
}

@media screen and (max-width: 768px) {
    .bem-vindo {
        padding: 1rem;
    }

    .bem-vindo p {
        padding: 0.5rem;
    }

    main {
        padding: 1rem;
    }

    .card {
        height: auto; /* Permitir que o cartão ajuste a altura com base no conteúdo */
    }
}

@media screen and (max-width: 480px) {

    nav ul {
        list-style: none;
        display: none;
        gap: 1rem;
        margin: 0;
        padding: 0;
    }

    .card img {
        height: 150px; /* Ajustar a altura da imagem em telas muito pequenas */
    }

    .card h2 {
        font-size: 1.25rem;
    }

    .card p {
        font-size: 0.875rem; /* Reduzir o tamanho da fonte em telas pequenas */
    }
}
