/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Oxanium&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

.amarelo { color: #bdbd3f; }
.verde { color: #008000; }
.laranja { color: #ffa500; }
.azul { color: #0000ff; }
.vermelho { color: #ff0000; }
