@media(max-width: 820px){
    main{
        width: 80%;
    }
    .cabecalho{
        padding: 30px 0;
    }
    .cabecalho h1{
        font-size: 40px;
    }
    .caixa{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .introducao{
        padding: 15;
        margin: 15 10;
    }
}

@media(max-width: 1071px){
    .caixa{
        grid-template-columns: 1fr;
    }
}